body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table td, th{
    border-bottom: 1px solid gray;
    padding: 15px;
    margin: 40px 30px;
}
.padd{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}